
/* *{
    margin: 0;
    padding: 0;
     font-family: inter;
}
.common-contain{
    font-family: inter;
} */
#nav-container {
 display: flex;
 Justify-content: space-between;
 padding: 0 60px ;
}
#nav-links {
 display: flex;
 gap: 20px;

}
.nav-item {
   
  list-style: none;
}
.nav-item a {

  text-decoration: none;
  color: #575757;
  font-family: Arimo;
 
}
.common-button {
  color: white;
  background-color: #1D4ED8;
  font-family: inter;
  padding: 12px;
  border-radius: 10px;
  width: 192px;
  height: 56px;
  border: none;
  font-weight:bold;
  cursor: pointer; 
}
.hero-button{
    margin-top: 310px;
}

#hero-ban{
    text-align: center;
    margin: 2px auto;
  font-family: inter;
}

#hero-ban0{
    margin-top: 20px;
    height: 786px;
    width: 1551px;
     background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}
#code-connect-create{
    padding-top: 20px;
    color: white;
    font-size: 30px;

    
}
#hero-ban-p{
    color: white;
  
}
#speaker{
 margin-top: 100px;
}
#speaker div h1{
    padding: 20px;
    margin: 20px;
    font-family: inter;
    text-align: center;
    font-weight: bold;
}
#speaker-zone{
    display: grid;
    grid-template-columns: repeat(2 ,1fr);
    gap: 20px;
   margin: 20px 100px;
}
.speaker-boss{
    border: 1px solid #E5E7EB;
    border-radius: 15px;
    background-color: #FFFFFF;
}
.specialist{
    color: #1D4ED8;

}


